.container {
    padding-top: 70px;
    min-height: 500px;
}

.main-footer {
    background: $dark;
    text-align: center;
    color: #fff;
    min-height: 75px;
    padding: 2rem;
    width: 100%;
}